html {
  font-family: Barlow, sans-serif;
  font-size: 20px;
  text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #d6d6d6;
}
::-webkit-scrollbar-thumb:hover {
  background: #bebebe; /* #aaa lighten 8% */
}
.dark ::-webkit-scrollbar-thumb {
  background: #0e0e0e;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #141414; /* #050505 lighten 20% */
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
  display: none;
}
