---
import BaseLayout from '../layouts/Base.astro'
import Hello from '../components/Hello.vue'
---

<BaseLayout title="Home">
  <main class="grow-1 center">
    <Hello client:idle />
  </main>
</BaseLayout>