---
import BaseLayout from '../layouts/Base.astro'
import Hello from '../components/Hello.vue'
---

<BaseLayout title="Home">
  <main class="grow-1 center">
    <h1 class="text-3xl font-mono">
      <Hello client:idle />
      <!-- <br />
      <br />
      I'm Kricsleo. -->
    </h1>
  </main>
</BaseLayout>