---
import BaseLayout from '../layouts/Base.astro'
import Hello from '../components/Hello.vue'
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Home">
  <main class="viewport grow-1 flex flex-col justify-center space-y-4xl">
    <Hello client:idle />
    <dli class="space-y-4xl text-2xl leading-relaxed">
      <ul>
        <li>我是 Kricsleo </li>
        <li>主业前端开发, 喜欢设计和交互</li>
        <li>享受开源, 乐于尝试有趣的项目</li>
      </ul>
      <ul class="text-soft">
        <li> I'm Kricsleo </li>
        <li> Front-end developer, passionate about design and interaction </li>
        <li> Enjoying open source and trying interesting projects </li>
      </ul>
    </dli>
  </main>
  <Footer />
</BaseLayout>