<footer class="text-center py-3xl text-sm text-soft">
  &copy;Kricsleo {new Date().getFullYear()}.
  Built with <a href="https://astro.build/" target="_blank" class="hover:text-highlight">Astro</a>
</footer>