---
import Theme from './Theme.vue'

---

<header>
  <nav class="viewport y-center justify-end gap-xl text-xl py-sm">
    <a href="/" class="nav-link">Home</a>
    <a href="/posts" class="nav-link">Posts</a>
    <Theme class="nav-link!" client:idle />
  </nav>
</header>
