---
import Theme from './Theme.vue'

---

<header>
  <nav class="viewport y-center justify-end gap-xl text-2xl py-sm">
    <a href="/" class="nav-link">Home</a>
    <a href="/posts" class="nav-link">Posts</a>
    <a href="https://github.com/kricsleo" target="_blank" class="i-carbon:logo-github nav-link" />
    <Theme class="nav-link!" client:idle />
  </nav>
</header>
