<script>
import { HELLO } from '../data/data'
import Typed from 'typed.js'

const [cn, ...rest] = HELLO
const hellos = [cn, ...rest.sort(() => Math.random() - 0.5)]
  .map(t => t.text)

const typed = new Typed('#hello', {
  strings: hellos,
  typeSpeed: 150,
  showCursor: false,
  fadeOut: true,
  loop: true,
})
</script>

<span id="hello"></span>