---
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'
import '@fontsource/barlow/400.css'
import '../styles/global.scss'
import '@kricsleo/markdown-themes'
import LoadingIndicator from '../components/LoadingIndicator.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-CN" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Kricsleo's blog" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg min-h-100vh flex flex-col">
		<Header transition:persist />
		<!-- todo: waiting for https://github.com/withastro/astro/pull/9090 -->
		<!-- <LoadingIndicator /> -->
		<slot />
	</body>
</html>